@page
@model ProdottoDettaglioModel

@*@{
    ViewData["Title"] = "ProdottoDettaglio";
}  *@
@{
    
    ViewData["Title"] = Model.prodotto;
}

<h1>@ViewData["Title"]</h1> 

<div class="table-responsive">
    @if (Model.prodotto != null)
    {
     <table class="table">
        <thead>
            <tr>
                <th>Immagine</th>
                <th>Nome</th>
                <th>Prezzo</th>
                <th>Dettaglio</th>
                <th>Quantita</th>
                <th>Categoria</th>
               
            </tr>
        </thead>
        <tbody>
       
                <tr>
                    <td data-label="Immagine"><img src="~/@Model.prodotto.Immagine" alt="@Model.prodotto.Nome" width="300" height="300" /></td>  <!-- Mostra l'immagine -->
                    <td data-label="Nome">@Model.prodotto.Nome</td>
                    <td data-label="Prezzo">@Model.prodotto.Prezzo</td>
                    <td data-label="Dettaglio">@Model.prodotto.Dettaglio</td>
                      <td data-label="Quantita">@Model.prodotto.Quantita</td>
                    <td data-label="Categoria">@Model.prodotto.Categoria</td>
                </tr>
            
        </tbody>
    </table>

       }
    else
    {
        <!-- Mostra un messaggio di errore se il prodotto non è disponibile -->
        <p>Il prodotto non è stato trovato.</p>
    }
    
    <a asp-page="/Prodotti">Torna a prodotti</a>
</div>
